<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Over ikwilmijnlegitimatie
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		Deze website is open-source, wat betekent dat alle code waaruit deze website bestaat openbaar is voor iedereen om te lezen.
		Echter, de code voor de bot maak ik niet openbaar.
		De reden hiervoor is dat ik niet wil dat meer mensen deze bots gaan gebruiken,
		wat ervoor zou zorgen dat ikwilmijnlegitimatie niet meer goed functioneert.
		Bovendien maak ik het zo moeilijker voor de Gemeente Utrecht mochten ze hun website voor mijn bot willen beschermen :)
	</p>
</div>