<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Over mij
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		Ik ben Hilmi, Software Development student op <a class="underline" href="https://codam.nl">Codam</a>.
		(Wil je een goede software developer worden, kom dan naar Codam! Het is helemaal gratis!)
		Ik programeer veelal in C (voor school) en in mijn vrije tijd ben ik bezig met Python.
		Onlangs ben ik als freelancer begonnen onder de naam <i>dev-it</i>.
		Mocht je in contact willen komen, kan je me bereiken op <i>hilmi.dev.it@gmail.com</i>.
		<br><br>
		Dit is de eerste webapplicatie die ik heb gebouwd en ook meteen heb gepubliceerd.
		Sinds een korte tijd ben ik bezig met het bouwen van bots voor bijvoorbeeld een Playstation 5 of Sneakers die tegenwoordig moeilijk te verkrijgen zijn.
		Na het lezen van een nieuwsartikel over lange wachtrijen bij de gemeente,
		ben ik onderzoek gaan doen naar het internetverkeer van de Gemeente Utrecht.
		Ik merkte op dat er redelijk vaak afspraken vrijkomen en vond het een goed idee voor een project.
		In redelijk korte tijd had ik de bot werkend die automatisch een afspraak kan inplannen bij de gemeente.
		Om dit voor een groep mensen gebruikelijk te maken, moest ik een website bouwen.
		Dus ben ik aan de slag gegaan met web-development in Python.
		Een compleet nieuwe wereld voor mij, waar ik in korte tijd veel heb geleerd.
		In twee weken heb ik dit project in elkaar gezet.
		Aan het uiterlijk van de website (front-end) is veel te verbeteren, maar qua functionaliteit (back-end) werkt het prima.
		Ik wil Kawish en Ali bedanken voor het helpen met de front-end en over het meedenken over functionaliteit van de webapplicatie.
	</p>
</div>