<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Afspraak bij de Gemeente
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		<b>ikwilmijnlegitimatie</b> ondersteunt momenteel 3 soorten afspraken.
		Hieronder zie je welke afspraak voor jou wordt gemaakt door <b>ikwilmijnlegitimatie</b> op de website van de gemeente. Klik op een van de links!

		<li class="mt-1 text-lg text-gray-700"><a class="underline" href="https://afspraak.utrecht.nl/qmaticwebbooking/#/preselect/services/fa9657c8edb0ad45b7b9bc6ebb18c067c25337295409bb45aef1758158cdec50">Paspoort</a></li>
		<li class="mt-1 text-lg text-gray-700"><a class="underline" href="https://afspraak.utrecht.nl/qmaticwebbooking/#/preselect/services/f34f1b3b5f7820abe8ef06fe23f9ffea0fcc7a656abcf69d98c6dd747f4a10b0">Identiteitskaart</a></li>
		<li class="mt-1 text-lg text-gray-700"><a class="underline" href="https://afspraak.utrecht.nl/qmaticwebbooking/#/preselect/services/5831dd238974614b1d9e864fd5edccdce6eee3824b67d2f283e07402a0154d46">Rijbewijs</a></li>
	</p>
</div>