<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Hoe werkt het?
	</h2>
	<p class="mt-1 text-lg text-gray-700">

		<b>ikwilmijnlegitimatie</b> is een <i>bot</i> die continue in de gaten houdt of er een afspraak vrijkomt en deze boekt voor de eerste persoon in
		de wachtlijst.
		Door aan te melden met je gegevens hieronder, kom jij in de wachtlijst te staan.
		Ben je aan de beurt, dan zoekt de bot de eerstvolgende afspraak voor jou!
		Momenteel zoekt de bot alleen afspraken binnen <b>{{ days_to_check }}</b> dagen.
		Naast het aanmelden kan je ook:
		<br>

		<li class="mt-1 text-lg text-gray-700">Je positie opvragen onder het kopje <i>Positie in de wachtlijst</i>.</li>
		<li class="mt-1 text-lg text-gray-700">Afmelden kan onder het kopje <i>Afmelden</i>.</li>
	</p>
</div>