<!doctype html>
<html>
    <head>
      <title>ikwilmijnlegitimatie</title>
	  <!-- Dev import van tailwindcss -->
	  <script src="https://cdn.tailwindcss.com"></script>

	  <!-- import van eigen css -->
	  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
		{% include "flash_current_position.html" %}
		{% include 'introduction.html' %}
		{% include 'how_it_works.html' %}
		{% include 'privacy.html' %}
		{% include 'register_form.html' %}
		{% include 'position_in_queue.html' %}
		{% include 'delete_me_form.html' %}
		{% include 'about_me.html' %}

    </body>
</html>