<div class="paragraph">
  <h1
    class="text-2xl leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200"
  >
    Ik wil mijn legitimatie!
  </h1>
  <p class="mt-1 text-sm text-gray-500"><br>
    Welkom bij ikwilmijnlegitimatie. Een maand wachten om je paspoort, ID of
    rijbewijs aan te vragen of the verlengen bij de gemeente? Of ga je toch
    betalen voor een spoedafspraak (kost extra geld) omdat je binnenkort al op
    vakantie wilt? Het snel verkrijgen van je legitimatie lijkt een groot
    problem te zijn geworden. De wachtrijen lopen op tot anderhalve maand. Toch
    worden er afspraken geannuleerd en komen er dus plaatsen vrij. Daar maakt
    deze applicatie gebruik van.

	<br>
	Maak niet bij de gemeente en hier een afspraak.
  </p>
</div>