<div class="paragraph">
    <h1 class="text-5xl font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
        Ik wil mijn legitimatie!
    </h1>
    <p class="mt-1 text-lg text-gray-700"><br>

        In Utrecht is er een wachttijd van 6 weken voor het aanvragen of verlengen van een paspoort, identiteitskaart of
        rijbewijs.
        Wat nou als je binnenkort op vakantie gaat of net bent geslaagd voor je rij-examen en graag je rijbewijs wilt?
        Je zou kunnen betalen voor een spoedafspraak (kost extra geld) of je maakt gebruik van
        <b>ikwilmijnlegitimatie</b>!
        <br>
        <br>
        De gemeente heeft te maken met annuleringen van afspraken.
        Dit betekent dat er een afspraak vrijkomt (op kort termijn) die jij zou kunnen boeken.
        Echter, je hebt geen zin om continue de website van de gemeente in de gaten te houden wachtend op een
        vrijkomende afspraak.
        Daar komt <b>ikwilmijnlegitimatie</b> in het spel.
    </p>
</div>