<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Locaties
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		De gemeente Utrecht heeft twee locaties:
		<li class="mt-1 text-lg text-gray-700">Utrecht (Stadskantoor, Stadsplateau 1, Utrecht)</li>
		<li class="mt-1 text-lg text-gray-700">Vleuten (Wijkservicecentrum Vleuten - De Meern, Dorpsplein 1, Vleuten)</li>
	</p>
	<p class="mt-1 text-lg text-gray-700">
		Je kunt je voor een locatie maar 1 keer aanmelden met hetzelfde emailadres.
		Het is mogelijk om je op beide locaties aan te melden,
		echter is het je eigen verantwoordelijkheid om je af te melden voor de andere locatie als je een afspraak te pakken hebt.
		Zo voorkom je dat je twee afspraken krijgt!
	</p>
</div>