<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Bericht voor de Gemeente Utrecht
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		Ik begrijp dat het super druk is en afspraken die worden geannuleerd helpen daar niet bij.
		Met <b>ikwilmijnlegitimatie</b> hoop ik jullie te helpen met de doorstroom van afspraken!
		Zo komen we snel weer op het oude niveau terecht waar de wachttijd voor een afspraak 1 week was.
	</p>
</div>