<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Andere gemeentes?
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		Lang wachten op je afspraken is niet alleen een probleem in Utrecht, maar in heel Nederland!
		Laat mij op <i>ikwilmijnlegitimatie@gmail.com</i> weten welke gemeente jij nog meer wilt op <b>ikwilmijnlegitimatie</b>!
		Ik ga in ieder geval proberen om de gemeentes Amsterdam, Rotterdam en Den Haag toe te voegen.
	</p>
</div>