<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		De wachtlijsten
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		Op dit moment zien de wachtlijsten er als volgt uit:
		<li class="mt-1 text-lg text-gray-700">Utrecht: {{ total_people_waitlist_utrecht }} personen.</li>
		<li class="mt-1 text-lg text-gray-700">Vleuten: {{ total_people_waitlist_vleuten }} personen.</li>
	</p>
	<p class="mt-1 text-lg text-gray-700">Let op: Het maximaal aantal mensen dat zich kan aanmelden voor de wachtlijst is {{ max_people }}!</p>
</div>