<div class="form-wrapper border-solid border-2 outline-grey-800 rounded-lg">
	<form class="space-y-8 divide-y divide-gray-200" action="" method="post" novalidate>
		{{ position_form.hidden_tag() }}
		<div class="space-y-8 divide-y divide-gray-200">
			<div>
				<div class="pt-1">
					<div>
						<h3 class="text-lg leading-6 font-medium text-gray-900">
							Positie in de wachtlijst
						</h3>
						<p class="mt-1 text-sm text-gray-500">
							Jouw positie in de wachtlijst bepaald wanneer de bot voor jou een
							afspraak gaat zoeken. Ben jij nummer 1, dan is de eerstvolgende
							vervroegde-afspraak die vrijkomt bij de gemeente van jou! Vul
							hieronder je emailadres in om te zien wat jouw positie is in de
							wachtlijst!
						</p>
					</div>
					<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
						<div class="sm:col-span-6">
							<label for="email" class="block text-sm font-medium text-gray-700">
								E-mailadres
							</label>
							<div class="mt-1">
								<!-- <input id="email" name="email" type="email" autocomplete="email" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"> -->
								{{ position_form.email(autocomplete="email",
								class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500
								block w-full sm:text-sm border-gray-300 rounded-md") }} {% for
								error in position_form.email.errors %}
								<span style="color: red;">[{{ error }}]</span>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="register-wrapper">
				<div class="flex justify-center">
					<!-- <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button> -->
					<!-- <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button> -->
					{{ position_form.submit_position(class="ml-3 inline-flex justify-center py-2
					px-32 border border-transparent shadow-sm text-sm font-medium
					rounded-md text-white bg-violet-600 hover:bg-violet-700
					focus:outline-none focus:ring-2 focus:ring-offset-2
					focus:ring-violet-500") }}
				</div>
			</div>
		</div>
	</form>
</div>