<div class="paragraph">
	<h2 class="text-3xl pb-2 leading-6 font-medium text-gray-900 space-y-8 divide-y divide-gray-200">
		Privacy
	</h2>
	<p class="mt-1 text-lg text-gray-700">
		De informatie die jij hier invoert, wordt eerst versleuteld,
		vervolgens opgeslagen in een database. Alleen je emailadres wordt niet versleuteld.
		Deze kan ik gebruiken wanneer jij als gebruiker een probleem ervaart en jezelf wilt identificeren. 
		Zo kan ik jou terugvinden in de database en het probleem oplossen.
		Zodra jij de eerste persoon bent in de wachtlijst, worden je gegevens door de bot opgehaald uit de database en gebruikt om een afspraak te maken.
		Hierna worden al jouw persoonlijke gegevens verwijderd!
	</p>
</div>